<%= link_to "Log Out",admin_logout_path,method: :delete %>
<h2 align="center">User List</h2>
<div id="user_data">
			<%= render "userlist" %>
</div>

<style type="text/css">
	.sp-class {
    color: #398f94;
    border: 1px solid #398f94;
    font-size: 12px;
}
</style>